{
    "client_id": "000000000000-aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.apps.googleusercontent.com",
    "client_secret": "aaaaaaa_aaaaaaaaaaaaaaaa",
    "refresh_token": "1//0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
    "root": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
}
